In [1]:
import pandas as pd
import numpy as np
import scipy

In [2]:
lugar=np.random.rand(100,2)
for val in lugar:
    print(val[0])

0.6701050018619558
0.2109054949584208
0.21638958439852585
0.3221471396465013
0.9891613000559181
0.030783199979844467
0.10591177910331351
0.9156200870645522
0.7183046512255078
0.8203339244352015
0.5002951161730202
0.5355732062481702
0.4788388366944003
0.9644457958913684
0.865420164511276
0.031819785157659264
0.7847025344966757
0.8983384333229929
0.6519830889938186
0.46540412178757395
0.8018141518734246
0.7548547962897099
0.6633593997535919
0.3652238426623149
0.37908971756879983
0.19325463748117078
0.5495012419627952
0.0049926013696690585
0.23168848976418943
0.8464187312464053
0.7683713748809453
0.5420927407622892
0.2768133511264831
0.5286334923158937
0.7018630004252496
0.4338618954908544
0.5213716034770975
0.798109486171906
0.1888325912223966
0.5925979689237736
0.16896544831752847
0.87656821319409
0.19472492428319776
0.9958990315376017
0.7218838387681956
0.027954686358015568
0.4286317816629577
0.8411461998778899
0.025898475439751767
0.6315765255342006
0.5462967163958642
0.254000052310541
0.6394049526006272
0.7677943060493576
0.5893707672817591
0.22911848765840348
0.8349264555650263
0.1481915622062222
0.44817409074038295
0.10435441171883675
0.9037084305344165
0.28534003551668197
0.7360920626882622
0.48973089484088184
0.5779465895236301
0.6397935100206564
0.6126951644550127
0.7155552858706251
0.5712452119260932
0.04524967735277419
0.9871742370511652
0.20822383988926751
0.7436333171202167
0.4253597241711802
0.33321564444147234
0.680202493525627
0.030036462372365902
0.2150556464458796
0.9303946771348499
0.6619430170299674
0.6766852490368026
0.6840467629877056
0.4902491051706094
0.30612453130280426
0.2134719694633178
0.9800559516920881
0.17727254157807226
0.10564543602385923
0.48463452360947235
0.4227841840374389
0.9794681998608807
0.535066362685734
0.6681317050803556
0.02138228263525288
0.7493259479166919
0.700539329188358
0.9538280525382821
0.8195168067514779
0.16392873392976126
0.1036419904303928

In [3]:
np.linalg.norm(np.array((0,0)) - np.array((1,1)))

1.4142135623730951

In [4]:
a=range(4,5)
for e in a:
    print(e)

4

In [5]:
a,b=lugar[0]
print(a)
print(b)

0.6701050018619558
0.7000388585465054

In [6]:
def dist_cercano(lugar,tipo="euclidea",verbose=False):
    dist_cerca=[]
    r=6370
    if tipo=="euclidea":
        modo_tipo=1
    elif tipo=="gps":
        modo_tipo=2
    else:
        modo_tipo=3
    if verbose:
        cont=0
        coc,res=divmod(cont,1e6)
        if res==0:
            print(cont)
    if type(lugar)==pd.DataFrame:
        lugar=lugar.values
    for i in range(len(lugar)):

        min=np.Inf
        for j in range(len(lugar)):
            
            if i==j:
                continue

            if verbose:
                cont = cont+1

            if modo_tipo== 1: 
                dist=np.linalg.norm(lugar[i] - lugar[j])
            elif modo_tipo== 2: 
                lat1,lon1=lugar[i]
                lat2,lon2=lugar[j]
                dlon = lon2 - lon1
                dlat = lat2 - lat1
                a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
                c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
                dist= r*c
            else:print("la variable tipo debe ser o euclidea o gps")
            
            if dist < min:
                min=dist
        dist_cerca.append(min)
    return(dist_cerca)

lugar=np.random.rand(6,2)
datos=pd.DataFrame(lugar,columns=["x","y"]) 
datos["cercano"]=dist_cercano(datos[["x","y"]],"gps")
# print(lugar)
print(datos)

          x         y      cercano
0  0.885899  0.326065   445.256779
1  0.310903  0.530169  1569.296702
2  0.870690  0.613589   734.562390
3  0.104280  0.977561  3077.672353
4  0.895968  0.436125   445.256779
5  0.428262  0.297614  1569.296702

In [7]:
minimo=5
maximo=9

In [8]:
np.random.random_sample(size=(2,3))*(maximo-minimo)+np.ones((2,3))*minimo

array([[7.6710895 , 5.01932594, 5.32015988],
       [6.69829133, 5.75228164, 6.6778769 ]])

In [9]:
indice1=[1,2,3,4,5,6]
col1=[0,1,2,3,4,5]
df1=pd.DataFrame(data=col1,index=indice1,columns=['valor'])
df1

   valor
1      0
2      1
3      2
4      3
5      4
6      5

In [10]:
indice2=[1,3,5]
col2=[50,80,100]
df2=pd.DataFrame(data=col2,index=indice2,columns=['valor'])
df2

   valor
1     50
3     80
5    100

In [11]:
df3=df1
df3.loc[df2.index, ['valor']]=df2['valor']
df3

   valor
1     50
2      1
3     80
4      3
5    100
6      5

In [18]:
# dummies

s = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c']})
pd.get_dummies(s.A,prefix='A')

   A_a  A_b
0    1    0
1    0    1
2    1    0

In [9]:
import numpy as np
lista=np.zeros(4)
lista=lista.tolist()
lista.append(1.0)
lista

[0.0, 0.0, 0.0, 0.0, 1.0]

In [10]:
np.power(3,2)

9

In [4]:
import pandas as pd
s = pd.DataFrame({'A': ['a1', 'a2', 'a3'], 'B': ['b1', 'b2', 'b2'],'C': ['c1', 'c2', 'c3']},index=[1,2,3])
b=pd.DataFrame(index=s.index)
b

Empty DataFrame
Columns: []
Index: [1, 2, 3]

In [8]:
import pandas as p
s = pd.DataFrame({'A': ['a1', 'a2', 'a3'], 'B': ['b1', 'b2', 'b2'],'C': ['c1', 'c2', 'c3']},index=[1,2,3])
b = pd.DataFrame({'A': ['A1', 'A2', 'A3'], 'B': ['B1', 'B2', 'B2'],'C': ['C1', 'C2', 'C3']},index=[1,2,3])
print(s)
s=s.merge(b,how='outer')
print(s)
s=s.values[:,2]
print(s)

    A   B   C
1  a1  b1  c1
2  a2  b2  c2
3  a3  b2  c3
    A   B   C
0  a1  b1  c1
1  a2  b2  c2
2  a3  b2  c3
3  A1  B1  C1
4  A2  B2  C2
5  A3  B2  C3
['c1' 'c2' 'c3' 'C1' 'C2' 'C3']

In [12]:
def aplica_dummies(df,lista_categoricas):
    print("aplicamos dummies") 
    if lista_categoricas!=[]:
        dummies=pd.DataFrame(index=df.index)
        for columna in lista_categoricas:
            print(f"columna: {columna}")
            dummi=pd.get_dummies(df[columna],prefix=columna)
            dummies=dummies.join(dummi)
        df_dm=df
        df_dm.drop(columns=lista_categoricas,inplace=True)
        df_dm=df_dm.join(dummies)
    else:
        df_dm=df
    return df_dm

s = pd.DataFrame({'A': ['a1', 'a2', 'a3'], 'B': ['b1', 'b2', 'b2'],'C': ['c1', 'c1', 'c2']},index=[1,2,3])
aplica_dummies(s,['B','C'])

aplicamos dummies
columna: B
columna: C

    A  B_b1  B_b2  C_c1  C_c2
1  a1     1     0     1     0
2  a2     0     1     1     0
3  a3     0     1     0     1

In [4]:
from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV
iris = datasets.load_iris()
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}
svc = svm.SVC()
clf = GridSearchCV(svc, parameters)
clf.fit(iris.data, iris.target)
GridSearchCV(estimator=svc,
             param_grid={'C': [1, 10], 'kernel': ('linear', 'rbf')})
sorted(clf.cv_results_.keys())

['mean_fit_time',
 'mean_score_time',
 'mean_test_score',
 'param_C',
 'param_kernel',
 'params',
 'rank_test_score',
 'split0_test_score',
 'split1_test_score',
 'split2_test_score',
 'split3_test_score',
 'split4_test_score',
 'std_fit_time',
 'std_score_time',
 'std_test_score']

In [6]:
param_grid={'C': [1, 10], 'kernel': ('linear', 'rbf')}
param_grid

{'C': [1, 10], 'kernel': ('linear', 'rbf')}

In [ ]:
{'C': [1, 10], 'kernel': ('linear', 'rbf')}
{'n_estimators': [100.0, 200.0, 300.0, 400.0, 500.0, 600.0, 700.0, 800.0, 900.0]}